<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="myuplode.jiyun.com.kaiyuanzhongguo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".news.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".denglu.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- <activity android:name=".news.MainActivity"/> -->
        <activity android:name=".news.MapViewActivity"/>
        <activity android:name=".zonghe.SearchActivity"/>
        <activity android:name=".zonghe.TwoActivity"/>


        <activity android:name=".denglu.RegisterActivity">
        </activity>
    </application>

</manifest>